#logo{
  display: block;
  font-family: 'Source Sans 3';
  font-size: 48pt;
  font-weight: bold;
  color: black;
  margin-left: 7.5vw;
  margin-top: 7.5vh;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

#signup-block{
  max-width: 400px;
  margin: auto;
  padding-bottom: 10vw;
}

#create{
  font-family: 'Source Sans 3';
  font-size: 24pt;
  font-weight: bold;
  color: black;
  margin-top: 5.5vh;
  margin-bottom: 1vh;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-container {
  padding: 20px;
  background: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.required {
  color: red;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

input:focus {
  border-color: #EA2839;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-password {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.toggle-password:hover{
  color: #b71c1c;
}

#submit {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #EA2839;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

#submit:hover {
  background-color: #b71c1c;
}

.error-message {
  color: #EA2839;
  font-size: 10px;
  margin: 0;
}

#login-btn{
  font-size: 16px;
  color: #EA2839;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  background: transparent;
}

#login-btn:hover {
  color: #b71c1c;
  text-decoration: underline;
}

#login-text {
  text-align: center;
  font-size: 14px;
}
