<a id="logo" routerLink="">REZERVACE+</a>

<div id="signup-block">
    <div id="create">Create an account</div>
    <div class="form-container">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        
            <label for="name">Name 
                <span class="required">*</span>
                <p class="error-message" *ngIf="signupForm.controls['name'].invalid && signupForm.controls['name'].touched && signupForm.get('name')?.value">
                    Name must be at least 2 characters long and contain at the first letter should be uppercase
                </p>
            </label>
            <div class="container">
                <input id="name" type="text" formControlName="name" placeholder="Enter your name" required>
            </div>
            
            <label for="surname">Surname 
                <span class="required">*</span>
                <p class="error-message" *ngIf="signupForm.controls['surname'].invalid && signupForm.controls['surname'].touched && signupForm.get('surname')?.value">
                    Surname must be at least 2 characters long and contain at the first letter should be uppercase
                </p>
            </label>
            <div class="container">
                <input id="surname" type="text" formControlName="surname" placeholder="Enter your surname" required>
            </div>

            <label for="username">Username 
                <span class="required">*</span>
                <p class="error-message" *ngIf="signupForm.controls['username'].invalid && signupForm.controls['username'].touched && signupForm.get('username')?.value">
                    Username must be at least 2 characters long. Characters ".", "_" and "-" are allowed
                </p>
            </label>
            <div class="container">
                <input id="username" type="text" formControlName="username" placeholder="Enter your username" required>
            </div>
        
            <label for="email">Email 
                <span class="required">*</span>
                <p class="error-message" *ngIf="signupForm.controls['email'].invalid && signupForm.controls['email'].touched && signupForm.get('email')?.value">
                    Invalid email format
                </p>
            </label>
            <div class="container">
                <input id="email" type="email" formControlName="email" placeholder="Enter your email" required>
            </div>
        
            <label for="password">Password 
                <span class="required">*</span>
                <p class="error-message" *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched && signupForm.get('password')?.value ">
                    Password must be at least 8 characters long and contian at least number, uppercase and lowercase letters
                </p>
            </label>
            <div class="container">
                <input id="password" [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Password" required>
                <button type="button" class="toggle-password" (click)="hidePassword = !hidePassword">👁</button>
            </div>

            <label for="repeatPassword">Repeat password 
                <span class="required">*</span>
                <p class="error-message"
                *ngIf="signupForm.get('repeatPassword')?.value 
                    && signupForm.get('password')?.value !== signupForm.get('repeatPassword')?.value
                    && signupForm.get('repeatPassword')?.touched">
                    Passwords do not match
                </p>
            </label>
            
            <div class="container">
                <input id="repeatPassword" [type]="hideRepeatPassword ? 'password' : 'text'" formControlName="repeatPassword" placeholder="Password" required>
                <button type="button" class="toggle-password" (click)="hideRepeatPassword = !hideRepeatPassword">👁</button>
            </div>
        
            <div class="container">
                <button id="submit" type="submit" class="sign-up-btn">Sign up</button>
            </div>

            <div class="container justify-content-center" *ngIf="registrationError">
                <p class="text-danger">
                    {{ registrationError }}
                </p>
            </div>
        </form>
    </div>
    <p id="login-text" class="mt-3">Already have an account?<button id="login-btn" routerLink="../login">Log in</button></p>
</div>
